body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #343d4b;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #848D9B;
    color: #fff;
}

.search-box {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    outline: none;
    background-color: #fff;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.location {
    color: #E4E4E4;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.city {
    font-family: 'Montserrat', sans-serif;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    max-width: 500px;
}

.temp {
    font-size: 46px;
    margin-bottom: 20px;
}

.weather {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.hi-low {
    font-size: 18px;
    color: #333;
}

footer {
    background-color: #525B69;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright {
    font-size: 14px;
}


